/* .mat-toolbar{
    background-color: black;
    color: white;
    
    
}
.right{
    padding-left: 55rem;
} */

 /* .navbar-brand{
    color: white;
} */
/* .navbar-text{
    color: white;  */
    
 